@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1400px;
    margin: auto;
    padding: 0 90px;
}


// div{
//     height: 30px;
//     border: 1px solid red;
// }
@for $counter from 1 to 13 {
    .col-#{$counter}{
        width: calc(100%*$counter/12);
        background-color: lighten($color: #000000, $amount: $counter*5%);
    }
}
.btn{
    padding: 4px 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    transition: background-color .5s ease;
    &:hover{
        cursor: pointer;
    }

    &--edit{
        border: 2px solid rgb(38, 236, 38);
        color: rgb(38, 236, 38);
        &:hover{
            background-color: rgb(38, 236, 38);
            color: white;
        }
    }

    &--delete{
        border: 2px solid rgb(236, 45, 38);
        color: rgb(236, 45, 38);
        &:hover{
            background-color: rgb(236, 45, 38);
            color: white;
        }
    }
}   

.users{
    margin-top: 30px;
}
.table{
    width: 100%;
    border-collapse: separate;   
    border-radius: $table-border-radius;
    overflow: hidden;
    border-spacing: 0px;
    th, td{
        padding: 5px 19px;
        text-align: center;
    }

    tr{
        transition: background-color .6s ease;
        &:hover{
            background-color: rgba(0, 0, 0, 0.068);
        }
    }
    thead{
        background-color: rgb(92, 92, 92);
        color: white;
    }
    // th:hover,
    // td:hover{
    //     background-color: #4e4e4e;
    //     color: white;
    // }
    
    thead th:last-child
    {
        border-top-right-radius:$table-border-radius;
    }

    thead th:first-child{
        border-top-left-radius:$table-border-radius;
    }

    tbody tr:last-child td:last-child{
        border-bottom-right-radius:$table-border-radius;
    }

    tbody tr:last-child td:first-child{
        border-bottom-left-radius:$table-border-radius;
    }
}
th, td, thead, tbody{
    border: 1px solid rgb(185, 185, 185);
   
}







// .col-1{
//     width: calc(100%/12);
// }

// .col-2{
//     width: calc(100%*2/12);
// }

// .col-3{
//     width: calc(100%*3/12);
// }
.box{
    display: flex;
    position: relative;
    width: 100px;

    height: 100px;
    &::after{
        content: "";
        width:100% ;
        height: 100%;
        background: url("../img/expresso.png") no-repeat;
        background-position: center;
        background-size: contain;
    }
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .box{
        &::after{
            background: url("../img/expresso@2x.png") no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
} 